

{% extends 'base.html' %}
{% load static %}
{% block title %}Mapishi Recipes{% endblock %}

{%block content%}

<header class="container-fluid bg-success py-3">
    <div class="container">
        <h1 class="text-white display-4">Mapishi Exchange</h1>
        <p class="text-white lead">Share your favorite recipes and discover new ones!</p>
    </div>
</header>
{% include 'header.html' %}

<h1 class="m-4"> About us</h1>


<footer class="container-fluid bg-dark text-white py-3">
    <p class="text-center">Copyright &copy; 2024 Mapishi Exchange</p>
</footer>
{%endblock%}